.navigation ,
.best_friends {
  padding: 10px 15px;
  background-color: #ebeffd;
  border-radius: 6px;
  align-self: flex-start;
  margin-bottom: 15px;
}
aside {
  flex-basis: 24%;
}

.item a {
  color: #a19bb9;
  text-decoration: none;
  transition: .3s;
  padding-top: 2px;
  padding-bottom: 2px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.item a.active {
  color: #240994;
  display: block;
  text-align: center;
}

.friends_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title_friend {
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 100;
}