ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

textarea {
  resize: none;
}

.app-wrapper {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 max-width: 1200px;
 margin-left: auto;
 margin-right: auto;
}

.app-content {
  flex-basis: 74%;
}
.app-content h1  {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 100;
  text-align: center;
  font-size: 35px;
  margin-top: 0;
}