.wrapp_dialogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dialogs {
    flex-basis: 29%;
    padding: 10px 15px;
    background-color: rgb(253, 251, 242);
    border-radius: 6px;
}

.item a{
    color: #000;
}

.item.active a{
    color: rgb(54, 142, 201);
    padding-left: 10px;
}

.messages {
    flex-basis: 69.5%;
    padding: 10px 15px;
    background-color: rgb(230, 255, 252);
}

.message {

}

ul {
    list-style-type: none;
}